.contain {
  background-color: blueviolet;
}
.hero {
  background-color: chocolate;
}
.questions {
  background-color: darkblue;
}
.foot {
  color: rgb(7, 15, 15);
  background-color: rgb(45, 243, 6);
}
.nav_bar {
  background-color: cadetblue;
}
